*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

a{
     text-decoration: none;
     color: #FFFFFF;
 }

#landing-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

/* HERO SECTION */
.hero{
    width: 100%;
    height: 1220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(Hero-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

}

.hero-logo-m{
    display: none;
}

.hero-logo{
    width: 700px;
    height: 400px;
    margin-top: 125px;
    margin-left: 200px;
}

.hero-p{
    width: 700px;
    line-height: 200%;
    font-family: 'Montserrat', sans-serif;
    margin-top: 75px;
    margin-left: 200px;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    color: #FFFFFF; 
}

.donate-button{
    width: 211px;
    height: 45px;
    margin-left: 200px;
    margin-top: 50px;
    background: #993856 0% 0% no-repeat padding-box;
    box-shadow: 0px 15px 20px #00000029;
    border: none;
    border-radius: 40px;
    opacity: 1;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

/* COMMON */

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

/* DONATIONS */
.donation-h{
    display: flex;
    justify-content: center;
    text-align: left;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    letter-spacing: 5.8px;
    color:#A32B4B;
}

.donation-row {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.donation-box{
    display: flex;
    justify-content: center;
    
}
.donation-text-box{
    display: flex;
    flex-direction: row;
    height: 300px;
    margin: 0 25px;
}

.donation-text{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
   
}
.donation-value{
    margin-right: 20px;
    padding-top: 10px;
    height: auto;
    font-size: 157px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    color: #9E3251;
    margin-top:0;
}

.donation-value-2{
    margin-right: 20px;
    padding-top: 10px;
    height: auto;
    font-size: 157px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    color: #9E3251;
    margin-top:0;
}

.donation-p1{
    width: 255px;
    text-align: left;
    font-size: 40px;
    margin-bottom:0;
    letter-spacing: 7px;
    color: #9E3251;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.donation-p2{
    margin-top: 5px;
    text-align: left;
    font-size: 21px;
    font-weight: 500;
    color: #9E3251;
    font-family: 'Montserrat', sans-serif;
}

/*  FRED HUTCH */

.fh-section {
    padding: 20px 30px;
    background-color: #ECECEC;
}

.fh-p{
    width: 100%;
    max-width: 1195px;
    padding-top: 75px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 5.8px;
    text-transform: uppercase;
    color: #081A4A;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.fh-logo{
    width: 526px;
    height: 443px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 200px;
}

.img-box{
    margin-bottom: 0%;
}

.dealer-car-img{
    margin-top: -200px;
}

/* Dealership */

.dealership-container {
    background-color: #F27590;
}
.dealer-car-img{
    width: 100%;
    height: auto;
}
.inventory-button-box{
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    height: 200px;
    background-color: #F27590;
}

.inv-h1{
    padding-top:25px;
    margin-top:0;
    text-align: left;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 6.96px;
    color: #FFFFFF;
    opacity: 1;
}

.button-box{
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    
}
.inv-button1{
    margin-right: 25px;
    width: 400px;
    height: 60px;
    background: #993856 0% 0% no-repeat padding-box;
    box-shadow: 0px 15px 20px #00000029;
    border: none;
    border-radius: 40px;
    opacity: 1;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;

}
.inv-button2{
    margin-top: 25px;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 400px;
    height: 60px;
    background: none;
    border: 4px solid #9E3251;
    box-shadow: 0px 15px 20px #00000029;
    border-radius: 40px;
    opacity: 1;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF; 
}

@media only screen and (max-width: 600px){
    .hero{
        height: auto;
        background-image: url(Mobile-Hero-Background.png);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
 
    }

    .hero-logo-m{
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
    }

    .hero-logo{
        width: 325px;
        height: 180px;        
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto; 
    }
    
    .hero-p{
        width: 360px;
        line-height: 200%;
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        font-size: 21px;
    }

    .donate-button{
        width: 198px;
        height: 64px;   
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        margin-top: 50px;
        font-size: 18px;
      
    }

    .donation-h{
        text-align: center;
        font-size: 27px;
        letter-spacing: 3.92px;
        
    }

    .donation-section{
        align-items: center;
        justify-content: center;
    }

    .donation-text-box{
        flex-direction: column;
    }
}